<!DOCTYPE html>
<html>
<head>
<title>Express Node.js MongoDB App</title>
</head>
 
<body>
 
<div class="row">
<div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 40px; padding:20px;">
{{{body}}}
</div>
 
 
</div>
 
 
</body>
</html>